<%= form_with(model: [@community,@event], class: "contents" , data: { controller: "confirmation", action: "submit->confirmation#confirmSubmissionEvent"}) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name, "Nombre" %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :description, "Descripción" %>
    <%= form.textarea :description, rows: 4, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :date, "Fecha Evento" %>
    <%= form.datetime_field :date, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="flex items-center space-x-4">
    <%= form.submit "Guardar", class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" %>
    <%= link_to 'Cancelar', @community, class: "bg-red-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded" %>
  </div>
<% end %>
