<%= form_with(model: [@community, @post], class: "contents") do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% @post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :content, "Contenido del Post", class: "block text-gray-700 font-bold mb-2" %>
    <%= form.text_area :content, rows: 4, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="my-5">
    <%= form.submit "Guardar Post", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
    <%= link_to 'Cancelar', @community, class: "bg-red-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded ml-2" %>
  </div>
<% end %>